/* Calendar Container */
.calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.addEvent-btn {
    display: inline-block;
    padding:8px 20px;
    background: #dfe1e2;
    border-radius: 8px; 
    transition: background-color 0.3s ease;

}

.addEvent-btn:hover {
    background-color:  #fc7522; 
    color: white;
}

.addEvent-container {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px 0; 
}


.event-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    margin-bottom: 20px;
    transition: transform 0.3s ease; 
}

.remove-button {
    position: absolute;
    display: none !important;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.event-card:hover {
    transform: scale(1.02);
}

.event-card:hover .remove-button {
    display: block !important;
}

.card-footer {
    padding: 10px;
    text-align: center;
}

.card-footer img {
    max-width: 100%; 
    height: auto; 
    max-height: 30%; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.card-header {
    padding: 10px;
    background: #dfe1e2;
    color: black;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 10px;
    text-align: center; 
}

.card-header h3,
.card-header p,
.card-body p {
    margin: 0;
}


